## Forecasting using Time Series Analysis (FuTSA '23)

#### Welcome to your second assignment. In this assignment, you would be applying the techniques that you would have (hopefully) learnt by now. If not, we suggest you to quickly complete the [suggested material](https://docs.google.com/document/d/1Q6nH_zP2caOInPJDUPzr_RF88-IQEmnyQ0hRBosY9lo/edit?usp=sharing) ASAP, next complete the first ungraded assignment and then move to this assignment. 
#### This Assignment is ungraded, and is meant for your practice. Again, we would suggest you to make a github repository for this project, where you could document your progress (a good way to learn GitHub flavored Markdown) and push your assignment solutions there.

### 1) Import Pandas and Numpy

In [1]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from `ungraded_2_chipotle.tsv`  file
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [2]:
Chipo = pd.read_csv("ungraded_2_chipotle.tsv", sep='\t')

### 3) See the first 10 entries

In [3]:
Chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [4]:
Chipo.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [5]:
Chipo.shape[1]

5

### 6) Print the name of all the columns.

In [6]:
list(Chipo.columns)

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

### 7) Which was the most-ordered item?

In [7]:
most_ordered_item = Chipo['item_name'].value_counts().index[0]
print(most_ordered_item)

Chicken Bowl

### 8) For the most-ordered item, how many items were ordered?

In [8]:
most_ordered_item = Chipo['item_name'].value_counts().index[0]
num_times_ordered = Chipo['item_name'].value_counts()[most_ordered_item]
print(f"The most-ordered item is {most_ordered_item}, and it was ordered {num_times_ordered} times.")

The most-ordered item is Chicken Bowl, and it was ordered 726 times.

### 9) What was the most ordered item in the choice_description column?

In [9]:
most_ordered_description = Chipo['choice_description'].value_counts().index[0]
print(f"The most-ordered item in the 'choice_description' column is {most_ordered_description}.")

The most-ordered item in the 'choice_description' column is [Diet Coke].

### 10) How many items were ordered in total?

In [10]:
total_items_ordered = Chipo['quantity'].sum()
print(f"A total of {total_items_ordered} items were ordered.")

A total of 4972 items were ordered.

### 11) Turn the item price into a float

In [11]:
Chipo['item_price'] = Chipo['item_price'].str.replace('$', '').astype(float)

C:\Users\hp\AppData\Local\Temp\ipykernel_14552\2847231809.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Chipo['item_price'] = Chipo['item_price'].str.replace('$', '').astype(float)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [12]:
revenue = (Chipo['quantity'] * Chipo['item_price']).sum()
print(f"The revenue for the period is ${revenue:.2f}.")

The revenue for the period is $39237.02.

### 13) How many orders were made in the period?

In [13]:
num_orders = Chipo['order_id'].nunique()
print(f"A total of {num_orders} orders were made in the period.")

A total of 1834 orders were made in the period.

### 14) What is the average revenue amount per order?

In [14]:
revenue = (Chipo['quantity'] * Chipo['item_price']).sum()
avg_rev_per_order = revenue / num_orders
print(f"The average revenue amount per order is ${avg_rev_per_order:.2f}.")

The average revenue amount per order is $21.39.

### 15) How many different items are sold?

In [15]:
num_items_sold = Chipo['item_name'].nunique()
print(f"A total of {num_items_sold} different items were sold.")

A total of 50 different items were sold.