## Forecasting using Time Series Analysis (FuTSA '23)

- #####  Welcome to your first assignment. In this assignment, you would be applying the techniques that you would have (hopefully) learnt by now. If not, we suggest you to quickly complete the [suggested material](https://docs.google.com/document/d/1Q6nH_zP2caOInPJDUPzr_RF88-IQEmnyQ0hRBosY9lo/edit?usp=sharing) ASAP and then move to this assignment. 
- ##### This Assignment is ungraded, and is meant for your practice. Although we would suggest you to make a github repository for this project, where you could document your progress (a good way to learn GitHub flavored Markdown) and push your assignment solutions there.



### 1) Import Pandas

In [1]:
import pandas as pd

### 2) Import the dataset and  Assign it to a variable called users and use the 'user_id' as index

#### Import the dataset from this url (https://raw.githubusercontent.com/FuTSA23/time-series-analysis-datasets/main/ungraded_1.user).

In [2]:

url = 'https://raw.githubusercontent.com/FuTSA23/time-series-analysis-datasets/main/ungraded_1.user'
users = pd.read_csv(url, sep='|', index_col='user_id')

### 3) Display the first 25 entries

In [3]:
print(users.head(25))

         age gender     occupation zip_code
user_id
1         24      M     technician    85711
2         53      F          other    94043
3         23      M         writer    32067
4         24      M     technician    43537
5         33      F          other    15213
6         42      M      executive    98101
7         57      M  administrator    91344
8         36      M  administrator    05201
9         29      M        student    01002
10        53      M         lawyer    90703
11        39      F          other    30329
12        28      F          other    06405
13        47      M       educator    29206
14        45      M      scientist    55106
15        49      F       educator    97301
16        21      M  entertainment    10309
17        30      M     programmer    06355
18        35      F          other    37212
19        40      M      librarian    02138
20        42      F      homemaker    95660
21        26      M         writer    30068
22        25      M         writer    40206
23        30      F         artist    48197
24        21      F         artist    94533
25        39      M       engineer    55107

### 4) Display the last 10 entries

In [4]:
print(users.tail(10))

         age gender     occupation zip_code
user_id
934       61      M       engineer    22902
935       42      M         doctor    66221
936       24      M          other    32789
937       48      M       educator    98072
938       38      F     technician    55038
939       26      F        student    33319
940       32      M  administrator    02215
941       20      M        student    97229
942       48      F      librarian    78209
943       22      M        student    77841

### 5) What is the number of observations in the dataset?

In [5]:
print(users.shape[0])

943

### 6) What is the number of columns in the dataset, also print the name of all the columns?

In [6]:
print(users.shape[1])

4

### 7) What is the data type of each column?

In [7]:
users.dtypes

age            int64
gender        object
occupation    object
zip_code      object
dtype: object

### 8) Print only the occupation column

In [8]:
print(users['occupation'])

user_id
1         technician
2              other
3             writer
4         technician
5              other
           ...
939          student
940    administrator
941          student
942        librarian
943          student
Name: occupation, Length: 943, dtype: object

### 9) How many different occupations are in this dataset?

In [9]:
users['occupation'].nunique()

21

### 10) What is the most frequent occupation?

In [15]:
most_frequent_occupation = users['occupation'].value_counts().index[2]
print(most_frequent_occupation)

educator

### 11) Summarize the DataFrame.

In [11]:
print(users.describe(include='all'))

               age gender occupation zip_code
count   943.000000    943        943      943
unique         NaN      2         21      795
top            NaN      M    student    55414
freq           NaN    670        196        9
mean     34.051962    NaN        NaN      NaN
std      12.192740    NaN        NaN      NaN
min       7.000000    NaN        NaN      NaN
25%      25.000000    NaN        NaN      NaN
50%      31.000000    NaN        NaN      NaN
75%      43.000000    NaN        NaN      NaN
max      73.000000    NaN        NaN      NaN

### 12) Summarize only the occupation column

In [12]:
print(users['occupation'].describe(include='O'))

count         943
unique         21
top       student
freq          196
Name: occupation, dtype: object

### 13) What is the mean age of users?

In [13]:
mean_age = users['age'].mean()
print(mean_age)

34.05196182396607

### 14) What is the age with least occurrence?

In [14]:
age_counts = users['age'].value_counts()
age_with_least_occurrence = age_counts.index[-1]
print(age_with_least_occurrence)

73